<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <link href="css/style.css" rel="stylesheet" />
  <title>Plasm App UI</title>
  <meta name="description" content="" />
</head>

<body>
  <div class="min-h-screen bg-gray-50 dark:bg-darkGray-900 p-4">

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Balance</h2>
      <ul class="list-disc pl-5">
        <li><a href="balance-plasm.html" class="text-blue-500 underline dark:text-darkGray-100">Plasm</a></li>
        <li><a href="balance-modal-network.html" class="text-blue-500 underline dark:text-darkGray-100">Modal - Choose
            Networks</a></li>
        <li><a href="balance-modal-account.html" class="text-blue-500 underline dark:text-darkGray-100">Modal - Choose
            Account</a></li>
        <li><a href="balance-modal-transfer-amount.html" class="text-blue-500 underline dark:text-darkGray-100">Modal -
            Transfer
            Amount</a>
        </li>
        <li><a href="balance-modal-transfer-token.html" class="text-blue-500 underline dark:text-darkGray-100">Modal -
            Transfer
            Token</a>
        </li>
      </ul>
    </div>

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-2">dApps</h2>
      <ul class="list-disc pl-5">
        <li><a href="dapps-staking.html" class="text-blue-500 underline dark:text-darkGray-100">Staking</a></li>
        <li class="text-gray-300 dark:text-darkGray-500">Create dApps</li>
        <li class="text-gray-300 dark:text-darkGray-500">Modal create dApps</li>
        <li class="text-gray-300 dark:text-darkGray-500">Modal code hash</li>
      </ul>
    </div>

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-2">Staking</h2>
      <ul class="list-disc pl-5">
        <li><a href="staking-validators.html" class="text-blue-500 underline dark:text-darkGray-100">Validators</a></li>
        <li><a href="staking-dapps.html" class="text-blue-500 underline dark:text-darkGray-100">dApps</a></li>
        <li><a href="staking-modal-stake.html" class="text-blue-500 underline dark:text-darkGray-100">Modal Stake</a>
        </li>
        <li><a href="staking-modal-bond.html" class="text-blue-500 underline dark:text-darkGray-100">Modal Bond</a></li>
      </ul>
    </div>

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-2">DOT Lockdrop</h2>
      <ul class="list-disc pl-5">
        <li><a href="dot-lockdrop.html" class="text-blue-500 underline dark:text-darkGray-100">DOT Lockdrop</a></li>
      </ul>
    </div>

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <h2 class="text-lg font-bold text-gray-900 dark:text-white mb-2">History</h2>
      <ul class="list-disc pl-5">
        <li><a href="history.html" class="text-blue-500 underline dark:text-darkGray-100">History</a></li>
      </ul>
    </div>

    <div class="bg-white dark:bg-darkGray-800 shadow rounded-lg max-w-3xl mx-auto p-6 mb-2">
      <ul class="list-disc pl-5">
        <li><a href="notification.html" class="text-blue-500 underline dark:text-darkGray-100">Notification</a></li>
        <li class="text-gray-300 dark:text-darkGray-500">Loading</li>
      </ul>
    </div>

  </div>
</body>

</html>
