<div class="relative mb-4">
  <input type="text" name="search" placeholder="Filter by name or address..."
    class="appearance-none w-full block border border-gray-300 dark:border-darkGray-500 dark:bg-darkGray-800 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md py-2.5 pl-10 pr-2.5 placeholder-gray-300 dark:placeholder-darkGray-600 text-blue-900 dark:text-darkGray-100 focus:outline-none ">
  <div class="absolute top-0 left-0 p-3">
    <svg class="w-5 h-5 text-gray-500 dark:text-darkGray-400" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
  </div>
</div>
